* {
  margin: 0;
  padding: 0; 
}

.navigation {
  background-color: rgb(250, 192, 104);
  margin-top: 25px;
  font-family: var(--font1);
  /* height: 74px;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
}

.nav-left span {
  font-size: 35px;
  padding-top: 10px;
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 22px;
  padding-bottom: 23px;
}

.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
  text-decoration: none;
  color: black;
}

.nav-left ul li a:hover {
  color: var(--main-bg-color);
  font-weight: bolder;
}





.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 21px;  
  border: none;
  outline: none;
  color:black;
  padding: 14px 16px;
  background-color: inherit;
  /* font-family: inherit; */
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  display: block;
  /* background-color: rgb(197, 68, 8); */
}

.dropdown-content {
  font-size: 15px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 2px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;

}







.links ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.links li {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.links li:hover {
  text-decoration: underline;
}










.content {
  height: 100%;
  display: flex;
  margin-top: 32px;
  padding: 9px;
  position: relative;
}

.content::after {
  content: "";
  background-image: url("../img/11.svg");
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.15;
  border-radius: 12px;
}

.content-left {
  font-family: var(--font1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 49px;
  z-index: 1;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right img {
  height: 280px;
  border: 2px solid black;
  border-radius: 200px;
}

.home-articles {
  padding: 18px;
  background-color: #FFB74D;;
  margin-top: 23px;
  position: relative;
}

.year-box {
  position: absolute;  
  right: 0px;
  top: 100px;
  width: 234px;
  height: 255px;
  font-size: 18px;
}

.year-box div {
  margin: 12px 0px;
}

.home-article {
  display: flex;
  margin: 25px;
}

.home-article img {
  width: 300px;
}

.home-article-content {
  align-self: center;
  padding: 25px;
}

.home-article-content a {
  text-decoration: none;
  color: black;
}



footer {
  /* height: 100px; */
  /* text-align: center; */
  background-color: black;
  padding-top: 20px;
  padding-bottom: -2px;
}

.ti{
  text-align: center;
  color: rgb(243, 234, 230);
}

.bhagwa{
  color: rgb(255, 174, 0);
}


/* 
footer.footer{
  height: 100%;
  background: var(--bg-color);
  position: relative;
}

footer.footer .container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
  flex-grow: 1;
  flex-basis: 0;
  padding: 3rem .9rem;
}

footer.footer .container h2{
  color: var(--white);
}

footer.footer .newsletter .form-element{
  background: black;
  display: inline-block;
}

footer.footer .newsletter .form-element input{
  padding: .5rem .7rem;
  border: none;
  background: transparent;
  color: white;
  font-family: var(--Josefin);
  font-size: 1rem;
  width: 74%;
}

footer.footer .newsletter .form-element span{
  background: var(--sky);
  padding: .5rem .7rem;
  cursor: pointer;
}

footer.footer .instagram div > img{
  display: inline-block;
  width: 25%;
  height: 50%;
  margin: .3rem .4rem;
}

footer.footer .follow div i{
  color: var(--white);
  padding: 0 .4rem;
}

footer.footer .rights{
  justify-content: center;
  font-family: var(--Josefin);
}

footer.footer .rights h4 a{
  color: var(--white);
}

footer.footer .move-up{
  position: absolute;
  right: 6%;
  top: 50%;
}

footer.footer .move-up span{
  color: var(--midnight);
}

footer.footer .move-up span:hover{
  color: var(--white);
  cursor: pointer;
} */



.home-articles{} */
 .footer {
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.footer a {


  color: white;
}


/* .footer {
  clear: both;
  position: relative;
  height: 60px;
  margin-top: -200px;
} */

/* footer.footer .move-up{
  position: absolute;
  right: 6%;
  top: 50%;
}

footer.footer .move-up span{
  color: var(--midnight);
}

footer.footer .move-up span:hover{
  color: var(--white);
  cursor: pointer;
} */