/* body {
    width: 95%;
    max-width: 700px;
    font-family: tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    padding: 0 10px 20px 10px;
    margin: 0 auto 0 auto;
} */

h1 {
    font-size: 24px;
    text-align: center;
}

h1 span {
    display: block;
    font-size: 18px;
    font-weight: bold;
}


.links ul {
    text-align: center;
    /* font-size: 50px; */
    list-style: none;
    padding: 0;
    margin: 10 10 20px 0;
}

.links li {
    /* display: inline; */
    /* display: flex-inline; */
    flex-direction: row;
    padding: .1px;
    color: rgb(185, 82, 13);
    /* margin-top: 10px; */
    margin: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
/* 
.links li a {
    margin: 10px 20px;
} */


.links li:hover {
    text-decoration: underline;
}